<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gfe="http://www.springframework.org/schema/geode"
       xmlns:gfe-data="http://www.springframework.org/schema/data/geode"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/geode http://www.springframework.org/schema/geode/spring-geode.xsd
http://www.springframework.org/schema/data/geode http://www.springframework.org/schema/data/geode/spring-data-geode.xsd">
  <gfe:cache id="server_cache" />
  <gfe:partitioned-region id="PRICE" copies="1" name="PRICE" cache-ref="server_cache" local-max-memory="6" load-factor="0.8" >
      <gfe:cache-listener ref="priceCacheListener"/>
      <gfe:cache-loader ref="priceCacheLoader"/>
      <gfe:cache-writer ref="priceCacheWriter"/>
  </gfe:partitioned-region>

</beans>